{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats['messages'] }}</div>
            <div>Messages</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-server fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats['guilds'] }}</div>
            <div>Guilds</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-user fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats['users'] }}</div>
            <div>Users</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-hashtag fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats['channels'] }}</div>
            <div>Channels</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
