{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ guild.name }} - {{ guild.guild_id }} - Configuration<h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Configuration Editor
      </div>
      <div class="panel-body">
        <div id="editor"></div>
      </div>
      <div class="panel-footer">
        {% if guild.role in ['editor', 'admin'] %}
          <button id="save" type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>
        {% else %}
          <i>You are in a read-only role</i>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/keybinding-vim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-yaml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-yaml.js"></script>
<script>
  var guildID = "{{ guild.guild_id }}";

  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/yaml");
  editor.getSession().setTabSize(2);
  editor.getSession().setUseSoftTabs(true);
  editor.getSession().setUseWrapMode(true);
  editor.getSession().setUndoManager(new ace.UndoManager());

  $.get("/api/guilds/" + guildID + "/config/raw").done(function (data) {
    editor.setValue(data);
  });

  $("#save").click(function (event) {
    event.preventDefault();

    $.ajax({
      type: "POST",
      data: {"data": editor.getValue()},
      url: "/api/guilds/" + guildID + "/config/update"
    }).done(function (event) {
      notify('success', 'Saved Configuration');
    }).fail(function (event) {
      notify('danger', 'Failed: ' + event.responseText);
    });
  });

</script>

{% endblock %}
