{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ guild.name }} - {{ guild.guild_id }} - Overview<h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Messages
      </div>
      <div class="panel-body">
        <select id="mode" class="form-control input-sm">
          <option value="15m">15m</option>
          <option value="1h">1h</option>
          <option value="24h">24h</option>
          <option value="7d">7d</option>
          <option value="30d">30d</option>
        </select>
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var guildID = "{{ guild.guild_id }}";

  function updateChart () {
    $.get("/api/guilds/" + guildID + "/stats/messages?mode=" + $("#mode").val()).done(function (data) {
      console.log(data);

      var chart = c3.generate({
        bindto: "#chart",
        data: {
          columns: data.data,
        }
      });
    });
  };

  $('select').on('change', updateChart);
  updateChart();
</script>
{% endblock %}
