{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ guild.name }} - {{ guild.guild_id }}<h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Messages
      </div>
      <div class="panel-body">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var guildID = "{{ guild.guild_id }}";
$(document).ready(function () {
  $.get("/guilds/" + guildID + "/stats/messages").done(function (data) {
    console.log(data);

    var chart = c3.generate({
      bindto: "#chart",
      data: {
        columns: data.data,
      }
    });
  });
});

</script>
{% endblock %}
