{% if g.user %}
<div class="navbar-header">
  <a class="navbar-brand">Rowboat</a>
</div>

<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
      {% for notification in notifications %}
        <li class="topbar-noti" id="{{ notification['id'] }}">
      <a>
          <div>
            <strong>{{ notification['title'] }}</strong>
            <span class="pull-right text-muted">
              <em>{{ notification['date'] }}</em>
            </span>
          </div>
          <div>{{ notification['content'] }}</div>
      </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
      </li>
    </ul>
  </li>
</ul>

<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
