contextlib2==0.5.4
cssselect==1.0.1
disco-py==0.0.6
emoji==0.3.9
gevent==1.1.2
greenlet==0.4.11
holster==1.0.11
humanize==0.5.1
inflection==0.3.1
lxml==3.7.2
markovify==0.5.4
olefile==0.44
peewee==2.8.5
Pillow==4.0.0
psycogreen==1.0
psycopg2==2.6.2
pyquery==1.2.17
pytz==2016.10
PyYAML==3.12
raven==5.32.0
redis==2.10.5
requests==2.11.1
six==1.10.0
Unidecode==0.4.20
websocket-client==0.37.0
wheel==0.24.0
